<form [formGroup]="form" (submit)="submitForm()">
    <table>
        <tbody>
            <tr>
                <td>City: </td>
                <td>
                    <input type="text" size="30" placeholder="City name" formControlName="city">
                </td>
            </tr>
            <tr>
                <td>Units: </td>
                <td>
                    <input type="radio" value="standard" formControlName="units">Standard
                    <input type="radio" value="metric" formControlName="units">Metric
                    <input type="radio" value="imperial" formControlName="units">Imperial
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" [disabled]="form.invalid">
                        Get Weather
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>